@import "bootstrap/scss/bootstrap";

.box_for_cards {
    perspective: 1000px;
}
.card {
    width: 200px;
    height: 250px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    transition: transform .4s ease-in-out;
    transform-style: preserve-3d;
  &:hover {
    cursor: pointer;
    transform: scale(0.90);
  }
  &.flip {
    transform: rotateY(180deg);
  }
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: transparent;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}
.back-face {
  background-image: url('../img/back-face.jpg');
  background-repeat: no-repeat;
  background-size:  100% 100%;
  background-position: 100%;
}
