.epizods-list {
    display: grid;
    grid-template: repeat(4, 32px)/repeat(6, auto);
    grid-auto-flow: column;
    gap: 25px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    min-height: 0;
}

@media (max-width: 1024px) {
    .epizods-list {
        grid-template: repeat(10, auto)/repeat(2, auto);
    }
}
